.signin {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 74px 25% 0 25%;
}

.order>h2,
.signin>h2 {
    font-size: 32px;
    padding: 20px 0 15px 20px;
    margin: 0;
}

.order>h3 {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
    margin: 0;
}

.order>h3>a {
    text-decoration: none;
    color: hsl(28, 30%, 48%, 0.7);
}

.order>h3>a:hover {
    text-decoration: underline;
    color: #9f7855;
}
.order1>h3 {
    text-align: center;
    font-size: 32px;
    padding: 20px 0;
    margin: 0;
}

.order1>h3>a {
    text-decoration: none;
    color: hsl(28, 30%, 48%, 0.7);
}

.order1>h3>a:hover {
    text-decoration: underline;
    color: #9f7855;
}
.order>hr,
.signin>hr {
    margin: 0 20px;
    border: 0.5px solid #9f7855;
}

.form {
    height: 350px;
    padding: 20px 50px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.signin_form_ID {
    margin-bottom: 70px;
}

.signin_form {
    margin-bottom: 80px;
}

.signin_form_address {
    clear: both;
}

.signin_form_text {
    font-size: 22px;
    float: left;
}

.signin_form_ID>.signin_form_text>div,
.signin_form>.signin_form_text>div,
.signin_form_address>.signin_form_text>div {
    margin: 0;
    padding-right: 24px;
    text-align: right;
}

.signin_form>input {
    text-align: center;
    outline-style: none;
    font-size: 18px;
    padding: 12px;
    float: left;
    width: 190px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #9f7855;
}

.signin_form_ID>input {
    outline-style: none;
    background-color: #FFFFFF;
    font-size: 18px;
    text-align: left;
    padding: 6px;
    float: left;
    width: 544px;
    margin-left: 5px;
    border: 0;
}

.signin_form_address>input {
    text-align: center;
    outline-style: none;
    font-size: 18px;
    padding: 12px;
    float: left;
    width: 400px;
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #9f7855;
}

.signin_form>input:hover,
.signin_form_address>input:hover {
    border: 1px solid #9f7855;
    background-color: hsl(36, 58%, 79%, 0.3);
}

.enter {
    outline-style: none;
    font-size: 18px;
    text-align: center;
    font-weight: 550;
    color: #9f7856;
    float: right;
    padding: 12px;
    margin: 40px 0 0 5px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #9f7855;
    background-color: #FFFFFF;
}

.enter:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #9f7856;
    border-color: #86613f;
}

/*訂單紀錄*/
.order {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 74px 25% 10px;
}
.order1 {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 25% 190px;
}
table {
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding: 20px;
}

.producttitle>td {
    font-weight: bold;
    background-color: #e0c295;
    padding: 10px;
}

.photo {
    width: 18%;
}

.productname {
    width: 30%;
}

.price,
.quantity,
.total,
.condition {
    width: 13%;
}

.quantity>input {
    border: 0;
    color: #000000;
    text-align: center;
    font-size: 18px;
    width: 50px;
    background-color: #e8cfa9;
}

.other>td {
    background-color: #e8cfa9;
}

.photo>img {
    vertical-align: middle;
    margin: 0%;
    width: 80%;
    padding: 6px 0;
}

/*登入*/
h5 {
    text-align: center;
    font-size: 24px;
}

.sign {
    font-size: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 30%;
    height: 250px;
    padding-bottom: 50px;
}

.sign_form_text {
    padding-bottom: 10px;
    font-weight: 550;
}

.sign_form_text>input {
    margin-bottom: 40px;
    outline-style: none;
    font-size: 18px;
    border: 2px solid #9f7855;
    text-align: center;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}

.sign_form_text>input:hover {
    background-color: hsl(36, 58%, 79%, 0.7);
}

.sign_form_text_in {
    width: 100%;
    float: left;
}

.sign_form_text_in>input {
    cursor: pointer;
    background-color: #FFFFFF;
    font-weight: 550;
    border: 2px solid #9f7855;
    font-size: 16px;
    margin: 0 45%;
    padding: 6px 20px;
    border-radius: 5px;
}

.sign_form_text_in>input:hover {
    background-color: #9f7855;
    border-color: #86613f;
    color: #FFFFFF;
}


@media screen and (max-width:800px) {
    .signin {
        margin: 140px 10% 0px 10%;
    }

    .order>h2,
    .signin>h2 {
        font-size: 28px;
        padding: 20px 0 15px 20px;
    }

    .form {
        height: auto;
        padding: 20px 30px 20px;
    }

    .left {
        width: 100%;
        float: left;
    }

    .right {
        width: 100%;
        float: left;
    }

    .signin_form_ID,
    .signin_form {
        margin-bottom: 50px;
    }

    .signin_form_address {
        clear: both;
    }

    .signin_form_text {
        font-size: 20px;
        float: left;
    }

    .signin_form_ID>input {
        font-size: 16px;
        padding: 6px;
        width: auto;
        margin-left: 5px;
    }

    .signin_form>input {
        font-size: 16px;
        padding: 10px;
        width: 70%;
        margin-left: 5px;
    }

    .signin_form_address>input {
        font-size: 16px;
        padding: 10px;
        width: 70%;
        margin-left: 5px;
    }

    .enter {
        font-size: 20px;
        float: left;
        padding: 8px;
        margin: 20px 40% 0 40%;
        width: 120px;
    }

    .order {
        margin: 140px 10% 160px 0px;
    }

    table {
        margin-bottom:0;
        font-size: 18px;
    }

    .quantity>input {
        font-size: 17px;
    }

    /*登入*/
    .sign {
        text-align: left;
        margin: 5px 15% 360px;
        height: 260px;
        padding-bottom: 50px;
    }

    .sign_form_text {
        padding-bottom: 5px;
        font-weight: 550;
    }

    .sign_form_text>input {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .sign_form_text_in {
        width: 100%;
        float: left;
    }

    .sign_form_text_in>input {
        width: 20%;
        font-size: 16px;
        margin: 0 40%;
        padding: 6px 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width:600px) {
    .signin {
        margin: 140px 5% 0px 5%;
    }

    .order>h2,
    .signin>h2 {
        font-size: 28px;
        padding: 20px 0 15px 20px;
    }

    .form {
        height: auto;
        padding: 20px 30px 120px;
    }

    .left {
        width: 100%;
        float: left;
    }

    .right {
        width: 100%;
        float: left;
    }

    .signin_form_ID,
    .signin_form {
        margin-bottom: 50px;
    }

    .signin_form_address {
        clear: both;
    }

    .signin_form_text {
        font-size: 18px;
        float: left;
    }

    .signin_form_ID>input {
        font-size: 16px;
        padding: 6px;
        width: auto;
        margin-left: 5px;
    }

    .signin_form>input {
        font-size: 16px;
        padding: 10px;
        width: 70%;
        margin-left: 5px;
    }

    .signin_form_address>input {
        font-size: 16px;
        padding: 10px;
        width: 70%;
        margin-left: 5px;
    }

    .enter {
        font-size: 18px;
        float: left;
        padding: 8px;
        margin: 20px 35% 0 35%;
        width: 120px;
    }

    .order {
        margin: 140px 5% 140px;
    }
    .order1 {
        margin: 140px 5% 140px;
    }

    table {
        margin-bottom:190px ;
        font-size: 14px;
    }

    .quantity>input {
        font-size: 15px;
    }

    /*登入*/
    .sign {
        text-align: left;
        margin: 5px 10% 370px;
        height: 260px;
        padding-bottom: 50px;
    }

    .sign_form_text {
        padding-bottom: 5px;
        font-weight: 550;
    }

    .sign_form_text>input {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .sign_form_text_in {
        width: 100%;
        float: left;
    }

    .sign_form_text_in>input {
        width: 20%;
        font-size: 16px;
        margin: 0 40%;
        padding: 6px 20px;
        border-radius: 5px;
    }
}

@media screen and (max-width:499px) {
    .signin {
        margin: 120px 15px 30px 15px;
    }

    .order>h2,
    .signin>h2 {
        font-size: 28px;
        padding: 10px 0 15px 20px;
    }


    .form {
        height: 320px;
        padding: 20px 20px;
    }

    .right {
        float: left;
    }

    .signin_form_ID,
    .signin_form {
        margin-bottom: 0px;
    }

    .signin_form_address {
        clear: both;
    }

    .signin_form_text {
        font-size: 18px;
        float: left;
    }

    .signin_form_ID>input {
        float: left;
        font-size: 16px;
        padding: 0 6px 6px 6px;
        width: 180px;
        margin: 5px 0 30px 0;
    }

    .signin_form>input {
        float: left;
        font-size: 16px;
        padding: 10px;
        width: 280px;
        margin: 5px 0 20px 0;
    }

    .signin_form_address>input {
        float: left;
        font-size: 16px;
        padding: 10px;
        width: 280px;
        margin: 5px 0 20px 0;
    }

    .enter {
        font-size: 18px;
        float: left;
        padding: 8px;
        margin: 10px 30% 0 28%;
        width: 120px;
    }

    .order {
        margin: 120px 10px 30px 10px;
    }
    .order1 {
        margin: 20px 10px 0px 10px ;
    }

    table {
        margin: 0;
        font-size: 16px;
    }

    .quantity>input {
        text-align: center;
        font-size: 15px;
        width: 50px;
        background-color: #e8cfa9;
    }

    /*登入*/
    .sign {
        text-align: left;
        margin: 1px 10% 70px;
        height: 270px;
        padding-bottom: 50px;
    }

    .sign_form_text {
        padding-bottom: 5px;
        font-weight: 550;
    }

    .sign_form_text>input {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .sign_form_text_in {
        width: 100%;
        float: left;
    }

    .sign_form_text_in>input {
        width: 20%;
        font-size: 16px;
        margin: 0 35%;
        padding: 6px 20px;
        border-radius: 5px;
    }
}