<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳制郎-首頁</title>
    
</head>

<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/member.css">

<body style="background-image: url(../static/images/earth2.jpg);">
    <header class="heading">
        <div>
            <a href="http://127.0.0.1:8000/login/index"><img class="previous" src="../static/images/home-icon-silhouette.png"></a>
        </div>
        <div>
           <a class="mem" href="http://127.0.0.1:8000/member">{{username}}會員中心</a>
        </div>
    </header>
    <article>
        
        <div class="title">
            碳制郎
        </div>
        <div class="funtion">
            <a href="http://127.0.0.1:8000/receip">
                <div class="ff">
                        <img class="indimg" src="../static/images/barcode.png"> 
                    <p>碳權載具</p>
                </div>
            </a>
            <a href="http://127.0.0.1:8000/member">
                <div class="ff">
                         <img class="indimg" src="../static/images/user.png"> 
                        <p>會員中心</p>
                </div>
            </a>
            <a href="">
                <div class="ff">
                    <img class="indimg" src="../static/images/point.png">
                        <p>點數兌換</p>
                </div>
            </a>
            <a href="">
                <div class="ff">
                    <img class="indimg" src="../static/images/service.png">
                        <p>更多服務</p>
                </div>
            </a>
            <a href="http://127.0.0.1:8000/rank">
                <div class="ff">
                    <img class="indimg" src="../static/images/ranking.png">
                        <p>點數排行</p>
                </div>
            </a>
            
        </div>

    </article>
    <div class="problem">
        <a href="http://127.0.0.1:8000/123"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
    </div>
</body>
</html>
