<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>點數排行</title>
    
    
</head>
<link rel="stylesheet" href="../static/css/leaderboard.css">
<link rel="stylesheet" href="../static/css/signin.css">

<body style="background-image: url(../static/images/earth2.jpg);">
  <header class="heading">
    <div>
        <a href="http://127.0.0.1:8000/login/index"><img class="previous" src="../static/images/home-icon-silhouette.png"></a>
    </div>
    <div>
        <a class="mem" href="http://127.0.0.1:8000/member">會員中心</a>
    </div>
</header>
    
        <div style="margin-top: 8%;" class="signtit1">
            <p>排行榜</p>
        </div>

        <article class="leaderboard">
            <header class="lheader">
              <h1 class="leaderboard__title"><span class="leaderboard__title--top">碳權點數排行榜</span><span class="leaderboard__title--bottom">全台灣排行</span></h1>
            </header>
            
           
            
            <main class="leaderboard__profiles">
              
              
              {% for ranking in ranking_list %}
              <div class="leaderboard__profile">
                <img src="../static/images/amphibian.png" alt="123" class="leaderboard__picture">
                <span class="leaderboard__name">{{ranking.NAME}}</span>  
                <span class="leaderboard__value">{{ranking.POINT}}<span>點</span></span>              
              </div>
              {% endfor %}
            </main>
            
            
              <!--<div class="leaderboard__profile">
                <img src="../asset/image/amphibian.png" alt="456" class="leaderboard__picture">
                <span class="leaderboard__name">小笨蛋</span>
                <span class="leaderboard__value">2<span>名</span></span>
              </div>
              
              <div class="leaderboard__profile">
                <img src="../asset/image/amphibian.png" alt="789" class="leaderboard__picture">
                <span class="leaderboard__name">大可愛</span>
                <span class="leaderboard__value">3<span>名</span></span>
              </div>-->
              
              我的排名<br>
              <div class="leaderboard__profile">
                <img src="../static/images/amphibian.png" alt="012" class="leaderboard__picture">
                <span class="leaderboard__name">{{username}}</span>
                <span class="leaderboard__value"><span>第</span>{{rank}}<span>名</span></span>
              </div>
            </main>
        </article>
    <div class="problem">
        <a href="http://127.0.0.1:8000/123"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
    </div>
    
</body>
<script src="../static/js/javascript1.js" ></script>
</html>
