<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳權存摺</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/member.css">
</head>

<body>
    <div class="body">
        <a href="" id="top"><b>&#8593;</b></a>
        <header class="heading">
            <div>
                <a href="http://127.0.0.1:8000/login/index"><img class="previous" src="../static/images/home-icon-silhouette.png"></a>
            </div>
            <div>
                <a class="mem" href="http://127.0.0.1:8000/member">會員中心</a>
            </div>
        </header>
        <main>
            <section class="order">
                <h2>碳權存摺</h2>
                <hr>
                <table>
                    
                    <tr class="producttitle">
                        <td class="condition">日期</td>
                        <td class="productname">商品名稱</td>
                        <td class="addpoint">收入</td>
                        <td class="minus">支出</td>
                        <td class="total">剩餘點數</td>
                        
                    </tr>
                    {% for userbuy in userbuys %}
                    <tr class="other">
                        <td class="condition">{{userbuy.DATE}}</td>
                        <td class="productname"><span>{{userbuy.PNAME}}</span></td>
                        <td class="addpoint"></td>
                        <td class="minus">{{userbuy.EX}}</td>
                        <td class="total">{{userbuy.LEFT}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>
            </section>
            <script src="../asset/js/common.js"></script>
        </main>
        <footer>
            <p></p>
        </footer>
    </div>
    <div class="problem">
        <a href="http://127.0.0.1:8000/123"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
    </div>

</body>

</html>