<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>炭制郎-點數商城</title>
    <link rel="stylesheet" href="../static/css/pointsmall.css">
    
</head>

<body style="background-image: url(../static/images/earth2.jpg);">
    <header class="heading">
        <div>
            <a href="http://127.0.0.1:8000/login/index"><img class="previous" src="../static/images/previous.png"></a>
        </div>
        <div>
            <a class="mem" href="http://127.0.0.1:8000/member">會員中心</a>
        </div>
    </header>
    <article>
        <div class="signtit1">
            <p>點數商城</p>
        </div>


        <div class="Slideshow-container">
            <div class="slide fade">
              <img src="../static/images/msld1.jpg" style="width:80%;">
            </div>
          
            <div class="slide fade">
              <img src="../static/images/msld2.jpg" style="width:80%">
            </div>
          
            <div class="slide fade">
              <img src="../static/images/msld3.jpg" style="width:80%">
            </div>
              
             
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              <br>
              
              <div class="control" style="text-align:center">
                <span class="control-btn" onclick="currentSlide(1)"></span>
                <span class="control-btn" onclick="currentSlide(2)"></span>
                <span class="control-btn" onclick="currentSlide(3)"></span>
                
            </div>
        
    </article>
    <table style="margin-left: 10%;" class="product">
      {% for pros in pro %}
      <form action="/product_01/" method="get">
        {% csrf_token %}
      <tr>
        <td>
          <ski><span><img class="hotproimg" src="../static/images/msldlogo.png" >
          <h3 class="tdp" style="margin-top: 30px;">{{pros.name}}</span></ski></h3></a>
          <input name="product" type="hidden" value="{{pros.name}}">
          <input type="submit" value="兌換">
        </td>        
      </tr>
      </form>
      {% endfor %}
      
        
    </table>
    <div class="problem">
        <a href="http://127.0.0.1:8000/123"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
    </div>
    <script src="../static/js/javascript1.js" ></script>
</body>
</html>
