<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>兌換商品</title>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/product.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="../static/js/product.js"></script>

</head>

<body>
    <div class="body">
        <a href="" id="top"><b>&#8593;</b></a>
        <header class="heading">
            <div>
                <a href="http://127.0.0.1:8000/login/index"><img class="previous" src="../static/images/home-icon-silhouette.png"></a>
            </div>
            <div>
                <a class="mem" href="http://127.0.0.1:8000/member">會員中心</a>
            </div>
        </header>
        <main>
            
            <article>
                <!--圖片-->
                <section class="photo">
                    <div class="photobig" id="big_photo">
                        <img src="../static/images/msld2.jpg">
                    </div>
                    <div class="photosmall">
                        <a herf onclick="myFunction01()">
                            <img src="../static/images/msld2.jpg">
                        </a>
                    </div>
                </section>
                
                {% csrf_token %}
                {{form}}
                
                <form class="product_01" action="/exchange/" method='get'>
                
                    <article class="product_text">
                        
                        <h1 style="font-size: 40px;">{{product.name}}</h1>
                        
                        <div class="product_text_price"><img src="../static/images/money.png" width="50px" style="padding-right: 20px;">{{nname.point}}點</div>
                                    
                            <div class="product_text_number">數量：<input type="number" name="num" min="1" value="1"></div>
                            <div class="product_text_buy"><input type="submit" value="兌換"></div>
                            <input type="hidden" name="product" value="{{nname.name}}">
                            


                        </form>
                        <div class="product_text_detail">
                            <h3>商品介紹</h3>
                            <hr>
                            {{nname.intro}}
                            <!--<h3>章頭尺寸：直徑2.5公分</h3>
                            <h3>章頭高度：1.5公分</h3>
                            <h3>章頭重量：約30公克</h3>
                            <h3>木柄高度：7.4公分</h3>-->
                        </div>
                
                </article>
            </article>
            <div class="problem">
                <a href="QA.html"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
            </div>
            <script src="../static/js/common.js"></script>
        </main>
        <footer>
            <p></p>
        </footer>
    </div>
</body>

</html>