<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳制郎-註冊</title>
</head>
<link rel="stylesheet" href="../static/css/signup.css">
<body style="background-image: url(../static/images/earth2.jpg);">
    <header class="heading">
        <div>
            <a href="index.html"><img class="previous" src="../static/images/home-icon-silhouette.png"></a>
        </div>
        <div>
            <a class="mem" href="member.html">會員中心</a>
        </div>
    </header>
    <article>
        <div class="signtit1">
            <p>WELCOME</p>
        </div>
        <div class="signintit">
            <p>註冊</p>
        </div>
        <div class="signinbody">
            <div class="signbg">
                <form id="signin" action="">
                    <div class="sign">
                        <br>
                        使用者名稱:<br>&nbsp;<input name="username"><br><br><br>
                        手機號碼:<br>&nbsp;<input name="phone"><br><br><br>
                        密碼:<br>&nbsp;<input name="password"><br><br><br>                      
                       <button type="submit">註冊</button><br><br>
                       <div style="font-size: 12pt;">
                            <input style="width: 10%;" type="checkbox">您已閱讀、了解並同意接受<a href="terms.html">本服務條款</a>之所有內容<br>
                       </div>
                    </div>
                </form>
            </div>
            
        </div>
    </article>
    <div class="problem">
        <a href="QA.html"><img style="width: 100%;" src="../static/images/customer-service.png"></a>
    </div>
</body>
</html>
