<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>碳制郎-登入</title>
    
</head>

    <link rel="stylesheet" href="../static/css/signin.css">

<body style="background-image: url(../static/images/earth2.jpg);">
    <header class="heading">
       
    </header>
    <article>
        <div class="signtit1">
            <p>WELCOME</p>
        </div>
        <div class="signintit">
            <p>登入</p>
        </div>
        <div class="signinbody">
            <div class="signbg">
                
                <form action="/login/" method='post' id="signin" >
                    <div class="sign">
                        <br>
                    {% csrf_token %}
                        {{form}}
                        手機:&nbsp;<input name='uName'><br><br><br>
                        密碼:&nbsp;<input type='password' name='psw'><br><br>
                        <button type="submit">登入</button><br><br>
                    
                        <a href="http://127.0.0.1:8000/signup"><button type="button">註冊</button></a><br><br>
                        <a style="color: black;" href="">Forget password?</a>
                    
                    </div>
                </form>
                
            </div>
            
        </div>
    </article>
    
</body>
</html>
